<div class="card mb-4">
    <div class="card-img-wrapper">
        <img src="{{memberInput.photoUrl || './assets/user.png'}}" alt="{{memberInput.knownAs}}" class="card-img-top">
        <ul style="display:flex; margin:5px; justify-content: center" class="list-inline member-icon animate text-center">
            
            <li class="list inline-item hamzeh">
                <button routerLink="/members/{{memberInput.userName}}" class="btn btn-primary"><i class="fa fa-user"></i></button>
            </li>
            
            <li class="list inline-item hamzeh">
                <button class="btn btn-primary"><i class="fa fa-heart"></i></button>
            </li>
            
            <li class="list inline-item hamzeh">
                <button class="btn btn-primary"><i class="fa fa-envelope"></i></button>
            </li>
            

        </ul>
    </div>
    <div class="card-body p-1">
        <h6 class="card-title text-center mb-1"><i class="fa fa-user mr-2"></i>
        {{memberInput.knownAs}},{{memberInput.age}}
        </h6>
        <p class="card-text text-muted text-center">{{memberInput.city}}</p>
    </div>
</div>