<!-- <p>roles-modal works!</p> -->
<div class="modal-header">
    <h4 class="modal-title pull-left">Edit Roles for {{user.userName}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">×</span>
    </button>
</div>
<div class="modal-body">
    <form action="" #rolesForm id="rolesForm">
        <div class="form-check" *ngFor="let role of roles">

            <input type="checkbox" value="role.name" [disabled]='role.name=="Admin"&& user.userName=="Admin"'
                (change)="role.checked=!role.checked " [checked]="role.checked" class="form-check-input">
            <label>{{role.name}}</label>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-info" (click)="modalRef.hide()">Cancel ❌</button>

    <button type="button" class="btn btn-outline-success" (click)="updateRoles()">Submit ✔</button>
</div>