.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}
img{
    max-height: 50px;
    border: 2px solid #fff;
    display: inline;

}

.circular_image {
   
    border-radius: 50%;
    overflow: hidden;
    display:inline-block;
    vertical-align:middle;
  }
  .circular_image img{
    width:100%;
  }