<div class="row">
  <div class="col-2" *ngFor="let photo of member.photos ">
    <img src="{{photo.url}}" alt="{{photo.url}}" class="img-thumbnail p-1">
    <div class="text-center">
      <button [ngClass]='photo.isMan?"btn-success active":"btn-outline-success"' (click)="setMainPhoto(photo)" [disabled]="photo.isMan" class="btn btn-sm">Main</button>
      <span style="width: 10px;"></span>
      <button [ngClass]='photo.isMan?"btn-danger active":"btn-outline-danger"' [disabled]="photo.isMan" (click)="deletePhoto(photo.id,photo.isMan)" class="btn btn-sm "><i class="fa fa-trash"></i></button>
    </div>
  </div>
</div>
<div class="container">
  <div class="row mt-5">
    <div class="col-md-4">
      <div class="mb-3">
        <label for="formFile" class="form-label">Upload file example</label>
  
          <input name="myImage" multiple  accept=".jpg,.png,.jpeg" #editForm1 (change)="this.onFilechange($event)" class="form-control" type="file" id="formFile">
  
        <button  (click)="this.upload()" type="button" class="btn btn-primary mt-3">Upload</button>
      </div>
    </div>
  </div>
</div>
<input onkeypress="osama()">
<div *ngIf="osama"></div>
